.ascontainer {
  font-family: "Roboto" sans-serif serif;
  max-width: 743px;
  padding-top: 24px;
  margin: 0px auto;
  position: relative;
}

/* .asphoto {

  border: 2px solid palegoldenrod;
} */

.asphoto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.asoverlay {
  font-size: 12px !important;
  line-height: 16px !important;
  background-color: rgba(34, 34, 34, 0.66) !important;
  border-radius: 4px !important;
  color: rgb(255, 255, 255) !important;
  font-weight: 300 !important;
  margin-bottom: 16px !important;
  margin-right: 12px !important;
  padding: 3px 10px !important;
  opacity: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
}
