.aswindowdiv {
  background-color: whitesmoke;
  color: whitesmoke;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;

}

/* CLOSE GRID ICON */

.asmingridheader {
  padding: 8px 16px;
  margin: 0 auto;
  display: grid;
}
.asclosemingrid {
  padding: 8px;
  height: 16px;
  width: 16px;
  display: block;
  fill: rgb(97, 97, 97);
}

.asclosemingrid:hover {
  cursor: pointer;
  background: #00000013;
  border-radius: 50%;
}
/* MIN GRID SECTION */

.asmincontainer {
  background-color: whitesmoke;
  color: whitesmoke;
  max-width: 743px;
  margin: 0 auto;
  padding-bottom: 48px;
}

/* THREE PHOTO SECTION */
.as3grid {
  background-color: whitesmoke;
  color: whitesmoke;
  position: relative;
  /* padding-top: 8px; */
  max-width: inherit;
  max-height: 700px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 40%;
}

.as3-1 {
  background-color: whitesmoke;
  color: whitesmoke;
  padding-top: 8px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.as3-2 {
  background-color: whitesmoke;
  color: whitesmoke;
  padding-top: 8px;
  padding-right: 4px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.as3-3 {
  background-color: whitesmoke;
  color: whitesmoke;
  padding-top: 8px;
  padding-left: 4px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* IF THE LAST PHOTOS ARE A GROUP OF 2 */
.as2grid {
  background-color: whitesmoke;
  color: whitesmoke;
  padding-top: 8px;
  max-width: inherit;
  display: grid;
  grid-template-columns: 50% 50%;
}

.as2-1 {
  background-color: whitesmoke;
  color: whitesmoke;
  max-height: inherit;
  /* padding-top: 8px; */
  padding-right: 4px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.as2-2 {
  background-color: whitesmoke;
  color: whitesmoke;
  max-height: inherit;
  /* padding-top: 8px; */
  padding-left: 4px;
  grid-column-start: 2;
  grid-column-end: 3;
}

/* IF THE LAST PHOTO IS JUST 1 */
.as1grid {
  background-color: whitesmoke;
  color: whitesmoke;
  padding-top: 8px;
  max-height: 696px;
  max-width: inherit;
  display: grid;
  grid-template-columns: 100%
}

.as1-1 {
  background-color: whitesmoke;
  color: whitesmoke;
  /* padding-top: 8px; */
  grid-column-start: 1;
  grid-column-end: 2;
}

/* .asimgdiv {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
} */

.asimage {
  background-color: whitesmoke;
  color: whitesmoke;
  /* overflow: hidden; */
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.asimage:hover {
  cursor: pointer;
  -webkit-filter: brightness(70%);
}