.main {
  width: auto;
  padding-top: 24px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: rgb(157, 187, 201);
}

.carousel {
  width: 1128px;
  margin-left: auto;
  margin-right: auto;

}

.container {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 1fr 1fr;
  align-items: stretch;
}


.photo1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.photo2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-left: 8px;
}

.photo3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-left: 8px;
}

.photo4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 8px;
  padding-top: 8px;
}

.photo5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 8px;
  padding-top: 8px;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.photo1 img {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.photo3 img {
  border-top-right-radius: 12px;
}
.photo5 img {
  border-bottom-right-radius: 12px;
}

.button {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: end;
  align-self: end;
}

.button text {
  padding: 7px 15px !important;
}